on post-fs-data
    mkdir /data/vendor/keymaster 0775 root root
    mkdir /data/vendor/gatekeeper 0770 root root

service vendor.gatekeeper-mitee /vendor/bin/hw/android.hardware.gatekeeper-service.mitee
    class early_hal
    user root
    group root
    seclabel u:r:recovery:s0

service vendor.keymint-mitee /vendor/bin/hw/android.hardware.security.keymint@3.0-service.mitee
    class early_hal
    user root
    group root
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start vendor.gatekeeper-mitee
    start vendor.keymint-mitee

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring
    setprop crypto.ready 1